<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Payment Tests" parallel="methods">
  <!-- Service tests require data initialization -->
  <test name="Basic Payment Logic Tests" parallel="methods">
    <packages>
      <package name="io.github.truenine.composeserver.pay.service.impl"/>
    </packages>
  </test>
</suite>
