*.java text=auto eol=lf charset=utf-8 diff=java
*.kt text=auto eol=lf charset=utf-8 diff=kotlin
*.kts text=auto eol=lf charset=utf-8 diff=kotlin

# 文本文件
*.txt text=auto eol=lf charset=utf-8
*.html text=auto eol=lf charset=utf-8
*.css text=auto eol=lf charset=utf-8
*.scss text=auto eol=lf charset=utf-8
*.less text=auto eol=lf charset=utf-8

# 配置文件
*.properties text=auto eol=lf charset=utf-8
*.xml text=auto eol=lf charset=utf-8
*.setting text=auto eol=lf charset=utf-8
*.yaml text=auto eol=lf charset=utf-8
*.yml text=auto eol=lf charset=utf-8
*.key text=auto eol=lf charset=utf-8
.imports text=auto eol=lf charset=utf-8

# 二进制
*.png binary
*.jpg binary
