*.hprof
*.iml
*.ipr
*.iws
*.log
*.mode1v3
*.sln
*.xcodeproj
*.xcuserstate
*.xcworkspace
**/bin/
**/out/
*resources/static/
!**/out/
!**/src/main/**/build/
!**/src/test/**/build/
!gradle/wrapper/gradle-wrapper.jar

.vscode/
.idea/
.agent/
.cursorignore
.qoderignore
.warpindexignore
.apt_generated
.classpath
.codebuddy/
.claude/
.cursor/
.factorypath
.factory/
.generated/
.gradle
.gradle-user-home/
.jpb/
.kiro/
.kotlin
.kotlin/
.logs
.playwright-mcp/
.project
.qoder/
.settings
.springBeans
.sts4-cache
.vs
.windsurf/

/amplicode.xml
/build-cache/
/dist/
/generated/
/local.properties
/nbbuild/
/nbdist/
/.env
/.intellijPlatform/
/.mcp.json
/.nb-gradle/
/nbproject/private/
/out/
/private.gpg

AGENTS.md
build/
CLAUDE.md
generated_tests/
logs
node_modules/
nul
pnpm-lock.yaml
src/main/**/bin/
src/main/**/out/
src/test/**/bin/
src/test/**/out/
TODO.*
GEMINI.md
WARP.md
README.md
.editorconfig
.skills/
