<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="对象存储测试" parallel="methods">
  <test name="链接测试" parallel="methods">
    <packages>
      <package name="com.truenine.component.oss.huaweicloud"/>
      <package name="com.truenine.component.oss.aliyun"/>
    </packages>
  </test>
</suite>
