<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="数据服务远程调用测试" parallel="classes">
  <test name="远程调用测试" parallel="methods">
    <packages>
      <package name="net.yan100.compose.datacommon.dataextract.api"/>
    </packages>
  </test>
  <test name="实体模块测试" parallel="methods">
    <packages>
      <package name="net.yan100.compose.datacommon.dataextract.models"/>
    </packages>
  </test>
  <test name="服务测试" parallel="methods">
    <packages>
      <package name="net.yan100.compose.datacommon.dataextract.service.impl"/>
    </packages>
  </test>
</suite>
