<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="核心包测试" parallel="classes">
    <test name="核心包测试" parallel="methods">
        <packages>
            <package name="net.yan100.compose.core.encrypt"/>
            <package name="net.yan100.compose.core.encrypt.base64"/>
            <package name="net.yan100.compose.core.lang"/>
            <package name="net.yan100.compose.core.jackson"/>
        </packages>
    </test>
</suite>
