### config private repo auth properties
url.yunxiao.1=
usr.sonatype.1=
usr.yunxiao.1=
pwd.sonatype.1=
pwd.yunxiao.1=

### gradle params
org.gradle.caching=false
org.gradle.workers.max=12
org.gradle.daemon=true
org.gradle.parallel=true
org.gradle.jvmargs=-Xms2048m -Xmx4096m

### enable ksp 2
ksp.useKSP2=true

### sign gnu gpg config
signing.gnupg.executable=
signing.gnupg.keyName=
signing.gnupg.passphrase=

### system http or https proxy settings
# systemProp.http.proxyHost=
# systemProp.http.proxyPort=
# systemProp.https.proxyHost=
# systemProp.https.proxyPort=

