<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="数据库测试" parallel="classes">
  <!-- 服务测试需要初始化数据 -->
  <test name="服务测试" parallel="methods">
    <packages>
      <package name="com.truenine.component.rds.service.impl"/>
    </packages>
  </test>
  <test name="聚合服务测试" parallel="classes">
    <packages>
      <package name="com.truenine.component.rds.service.aggregator"/>
    </packages>
  </test>
  <test name="仓库测试" parallel="methods">
    <packages>
      <package name="com.truenine.component.rds.repository"/>
    </packages>
  </test>
  <test name="转换器测试" parallel="methods">
    <packages>
      <package name="com.truenine.component.rds.converters"/>
    </packages>
  </test>
  <test name="基础包测试" parallel="methods">
    <packages>
      <package name="com.truenine.component.rds.base"/>
    </packages>
  </test>
</suite>
