<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MQTT Connection Test" parallel="methods">
  <test name="mqtt" parallel="methods">
    <packages>
      <package name="io.github.truenine.composeserver.depend.paho"/>
    </packages>
  </test>
</suite>
